@model Domovoy_Models.OrderHeader

<div class="text-center">
    @if(Model!=null)
    {
        <h1 class="text-info">Подтверждение заказа</h1>
            <p>Заказ #@Model.Id был успешно создан!</p>
    }
    else
    {
        <h1 class="text-info">Подтверждение запроса</h1>

        <p>Мы получили Ваш запрос и в скором времени кто-нибудь из нашей команды свяжется с Вами!</p>
    }
    

    <img src="/images/patio.jpg" width="80%" />
</div>

